from .settings import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'DB_name',
        'USER': 'postgres_superuser',
        'PASSWORD': 'password',
        'HOST': 'host',
        'PORT': 'port',
    }
}